/* Class names prefixes */
$app-prefix:        'gjs-' !default;

/* Colors / Theme */

$mainColor:         #353A4A !default;
$fontColor:         #E4E7F0 !default;
$active-color:      #1BDDB1 !default;
$tag-color:         #1BDDB1 !default;
